body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
 
  min-height: 100vh;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.welcome-message {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.info-box {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
}

.body-css {
  font-weight: bold;
}
